@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Colours */
    /* Primary Colours */
    --c-primary-one: hsl(249, 99%, 64%); /* Linear Gradient 1 */
    --c-primary-two: hsl(278, 94%, 30%); /* Linear Gradient 2 */
    --c-primary-three: hsl(0, 100%, 66%); /* Red (Input Errors) */
    
    /* Neutral Colours */
    --c-neutral-one: (270, 3%, 87%); /* Light grayish violet */
    --c-neutral-two: hsl(279, 6%, 55%); /* Dark grayish violet */
    --c-neutral-three: hsl(278, 68%, 11%); /* Very dark violet */

    /* Font Family */
    --ff-primary: 'Space Grotesk', sans-serif;

    /* Font Size */
    --fs-base: 18px;

    --bg-mobile: url("/src/images/bg-main-mobile.png");
    --bg-desktop: url("/src/images/bg-main-desktop.png");
}

@layer base {
    html {
        font-size: var(--fs-base);
        font-family: var(--ff-primary);
    }
}

@layer components {
    .custom-grid {
        display: grid;
        gap: 0.5rem;
        grid-template-areas: 
            'a a a a'
            'b b b b'
            'c d e e';
    }
    .custom-grid :nth-child(1) {
        grid-area: a;
    }
    .custom-grid :nth-child(2) {
        grid-area: b;
    }
    .custom-grid :nth-child(3) {
        grid-area: c;
    }
    .custom-grid :nth-child(4) {
        grid-area: d;
    }
    .custom-grid :nth-child(5) {
        grid-area: e;
    }
}